<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>ListerWeb</display-name>
  
  <welcome-file-list>
<!--   	<welcome-file>index.jsp</welcome-file> -->
<welcome-file>MainMenu</welcome-file>
    
  </welcome-file-list>
  
      <servlet>
        <servlet-name>MainMenu</servlet-name>
        <servlet-class>meprod.ListerWeb.MainMenu</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MainMenu</servlet-name>
        <url-pattern>/MainMenu</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>OpenList</servlet-name>
        <servlet-class>meprod.ListerWeb.OpenList</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>OpenList</servlet-name>
        <url-pattern>/OpenList</url-pattern>
    </servlet-mapping>
    
    
      <servlet>
        <servlet-name>ListItem</servlet-name>
        <servlet-class>meprod.ListerWeb.ListItem</servlet-class>
    </servlet>

    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>